@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  & h1{
    font-size: 40px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 300px;
    & button{
      border-radius: 15px;
      min-width: 170px;
      padding: 10px 15px;
      font-size: 20px;
      margin-top: 15px;
    }
  }
  &__content-link-register{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    & a{
      color: #9b9b9b;
      text-decoration: underline;
      transition: .5s linear;
      &:hover{
        color: #ffffff;
      }
    }
  }
}
