@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.register-page {
  width: 100%;
  padding: 50px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  & h1{
    font-size: 40px;
    color: #ffffff;
  }
  &__form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 300px;
    &__message-alert{
      background-color: #c00000;
      color: #ffffff;
      width: 100%;
      text-align: center;
      padding: 5px 0px;
      border-radius: 7px;
      margin-top: 5px;
    }
    & button{
      border-radius: 15px;
      min-width: 170px;
      padding: 10px 15px;
      font-size: 20px;
      margin-top: 15px;
    }
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}
