.modal-content-form{
    background-color: #525252;
    max-width: 700px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    &__title{
        margin: auto;
        text-align: center;
        font-size: 30px;
        color: #ffffff;
    }
    & form{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }
    &__content-inputs-date{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
    .modal-content-form__selector{
        margin: 20px 0px 0px;
    }
    &__button-submit{
        width: 140px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(to right, #C0C0C0, #808080, #C0C0C0);
        background-size: 250%;
        background-position: left;
        color: #696864;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: 1s;
        overflow: hidden;
        margin: 30px auto 0px;
        &::before {
            position: absolute;
            content: "SUBSCRIBE";
            color: #a8a8a8;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 97%;
            height: 90%;
            border-radius: 8px;
            transition-duration: 1s;
            background-color: rgba(0, 0, 0, 0.842);
            background-size: 200%;
        }
        
        &:hover {
            background-position: right;
            transition-duration: 1s;
        }
        
        &:hover::before {
            color: #dddddd;
            background-position: right;
            transition-duration: 1s;
        }
        
        &:active {
            transform: scale(0.95);
        }
    }
    &__button-close{
        top: 10px;
        right: 20px;
        background-color: transparent;
        padding: 0px;
        color: #d3d3d3;
        font-size: 33px;
        position: absolute;
        transition: color .5s linear;
        &:hover{
            color: #ffffff;
        }
    }
    &__message-alert{
        background-color: #c00000;
        color: #ffffff;
        max-width: 400px;
        margin: 10px auto 0px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 7px;
    }
}

