.modal-content-form{
    background-color: #525252;
    max-width: 700px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    &__title{
        margin: auto;
        text-align: center;
        font-size: 30px;
        color: #ffffff;
    }
    & form{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }
    &__content-inputs-date{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
    .modal-content-form__selector{
        margin: 20px 0px 0px;
    }
    &__button-submit{
        width: 140px;
        height: 40px;
        border: none;
        border-radius: 10px;
        color: #696864;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: 1s;
        margin: 30px auto 0px;
        background-color: rgba(0, 0, 0, 0.842);
        &:hover {
            background-position: right;
            transition-duration: 1s;
            color: #ffffff;
        }

    }
    &__button-close{
        top: 10px;
        right: 20px;
        background-color: transparent;
        padding: 0px;
        color: #d3d3d3;
        font-size: 33px;
        position: absolute;
        transition: color .5s linear;
        &:hover{
            color: #ffffff;
        }
    }
    &__message-alert{
        background-color: #c00000;
        color: #ffffff;
        max-width: 400px;
        margin: 10px auto 0px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 7px;
    }
    &__alert{
        background-color: green;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        color: #ffffff;
        padding: 10px;
        border-radius: 12px;
        animation: vibrar .5s infinite alternate;
        @keyframes vibrar {
            0% {
              transform: rotate(-3deg);
            }
            100% {
              transform: rotate(3deg);
            }
        }
    }
}

