@import '../style/mixins.scss';
@import '../style/variables.scss';

.home-page {
    &__section-welcome {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        min-height: calc(90vh - 80px);
        padding-bottom: 50px;
        animation: animationInText linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 30%;
        padding: 0px 15px;
        @keyframes animationInText {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
        }
        &__content-info {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        & h2 {
            font-size: 50px;
        }
        & p {
            font-size: 20px;
        }
        }
        &__content-image{
            max-width: 700px;
            border-radius: 65px;
            height: 390px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            & img{
                width: 100%;
            }
        }
    }
    &__section-phrase{
        background-image: url(../assets/background-image-1.svg);
        background-repeat: no-repeat;
        background-size: 120%;
        position: relative;
        height: calc(100vh - 80px);
        filter: grayscale(100%);
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 60%;
        &.--section-2{
            background-image: url(../assets/background-image-2.svg);
        }
        @keyframes reveal {
            from {
                background-position: 0% 100%;
            }
            to {
                background-position: 0% 0%;
            }
        }
        @include FromMax($medium) {
            background-color: red;
            background-size: cover;
        }
        & img{
            width: 100%;
            height: auto;
            filter: drop-shadow(0 0 50px rgb(0, 0, 0));
        }
        &__image1{
            rotate: 180deg;
            position: absolute;
            top: -1px;
        }
        &__image2{
            position: absolute;
            bottom: -1px;
        }
        &__content-info{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #00000065;
            color: white;
            text-align: center;
            @include FromMax($large) {
                padding: 0px 15px;
            }
            & h2{
                font-size: 40px;
                max-width: 700px;
            }
            & p{
                font-size: 20px;
                max-width: 700px;
            }
            & a{
                font-size: 20px;
                text-decoration: underline;
                color: #ffffff;
            }
        }
    }
    &__section-known {
        width: 100%;
        display: flex;
        min-height: calc(80vh - 80px);
        flex-direction: column;
        text-align: center;
        animation: animationInText linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        position: relative;
        @keyframes animationInText {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        &__content-info {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        margin: 70px auto 0px;
        padding: 0px 15px 50px;
        & h2 {
            font-size: 50px;
        }
        & p {
            font-size: 20px;
        }
        }
        &__icon{
            width: 100px;
            height: 100px;
            margin: auto;
        }
    }
    &__section-end{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include FromMax($large) {
            padding-bottom: 30px;
        }
        &__content-contacts{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__social-networks{
            margin-top: 20px;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            & svg{
                font-size: 30px;
                cursor: pointer;
                color: #a09393;
                transition: .5s linear;
                &:hover{
                    color: #ffffff;
                }
            }
        }
        &__content-image{
            @include FromMax($large) {
                & img{
                    margin: auto;
                    width: 100%;
                    height: auto;
                }
            }
        }
        &__button-agenda{
            margin-top: 10px;
            padding: 10px 20px;
            border-radius: 15px;
            background-color: #3a3a3a7c;
            color: #9b9b9b;
            transition: .5s linear;
            &:hover{
                color: #ffffff;
            }
        }
    }
    &__section-sponsors{
        & h2{
            text-align: center;
        }
        &__content-image{
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }
    & .slick-track{
        display: flex;
        align-items: center;
        & img{
            width: 200px;
            @include FromMax($x-large) {
                width: 100px;
            }
        }
    }
}
