@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.agenda-page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include FromMax($large) {
        flex-direction: column;
    }

    &__content-agenda{
        position: relative;
        width: 100%;
    }
    &__button-adding{
        position: absolute;
        bottom: 30px;
        right: 30px;
        border-radius: 100%;
        font-size: 30px;
        width: 70px;
        height: 70px;
        z-index: 20;
        background-color: #026402;
        opacity: .7;
        color: #696864;
        box-shadow: 5px 5px 5px #000000;
        transition: .5s linear;
        &:hover{
            opacity: 1;
            background-color: #00a800;
            color: #ffffff;
        }
    }
    &__button-delete{
        position: absolute;
        bottom: 30px;
        left: 30px;
        border-radius: 100%;
        font-size: 30px;
        width: 70px;
        height: 70px;
        z-index: 20;
        background-color: #640202;
        color: #696864;
        box-shadow: 5px 5px 5px #000000;
        opacity: .7;
        transition: .5s linear;
        &:hover{
            opacity: 1;
            background-color: #a80000;
            color: #ffffff;
        }
    }
    & .rbc-btn-group{
        display: none;
    }
    & .rbc-toolbar-label{
        font-size: 30px;
        text-transform: capitalize;
    }
    & .rbc-today {
        background-color: transparent;
    }
    & .rbc-off-range-bg{
        background-color: #3b3b3bb3;
    }
}
