.agenda-page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__content-agenda{
        position: relative;
        width: 100%;
    }
    &__button-adding{
        position: absolute;
        bottom: 30px;
        right: 30px;
        border-radius: 100%;
        font-size: 30px;
        width: 70px;
        height: 70px;
        z-index: 20;
    }
    &__button-delete{
        position: absolute;
        bottom: 30px;
        left: 30px;
        border-radius: 100%;
        font-size: 30px;
        width: 70px;
        height: 70px;
        z-index: 20;
    }
    & .rbc-btn-group{
        display: none;
    }
    & .rbc-toolbar-label{
        font-size: 30px;
        text-transform: capitalize;
    }
    & .rbc-today {
        background-color: transparent;
    }
    & .rbc-off-range-bg{
        background-color: #3b3b3bb3;
    }
}
