@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.tatuadorPage{
  background-color: transparent;
  width: 100%;
  &__image-tattooArtist{
    width: 100px;
  }
  &__content-images{
    columns: 3;
    padding: 16px 32px;
    column-gap: 32px;
    max-width: 1200px;
    margin: auto;
    @include FromMax($medium) {
      columns: 2;
      column-gap: 12px;
    }
  }
  &__description{
    max-width: 700px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    animation: revealsTexts linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
    margin-bottom: 100px;
    @include FromMax($medium) {
      padding: 0px 15px;
    }
  }
  &__images{
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    cursor: pointer;
    animation: revealsImages linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
    @include FromMax($medium) {
      animation-range: entry 20% cover 30%;
    }
    @keyframes revealsImages {
      from {
        opacity: 0;
        translate: 0 200px;
        scale: .5;
        filter: blur(5px);
      }
      to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
        filter: blur(0px);
      }
    }
  }
  & h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    animation: revealsTexts linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
  }
  @keyframes revealsTexts {
    from {
      opacity: 0;
      translate: 0 200px;
      scale: .5;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }


  &__slider{
    width: 240px;
    height: 240px;
    perspective: 40em;
    position: relative;
    z-index: 1;
    will-change: z-index;
    user-select: none;
    display: flex !important;
    justify-content: center;
    & img{
      cursor: pointer;
      object-fit: cover;
      width: 240px;
      height: 240px;
      perspective: 40em;
      transition: transform 0.5s, scale .5s;
      animation: linear rotate-cover both;
      animation-timeline: --li-in-and-out-of-view;
      transform: translateX(0%) rotateY(-45deg);
      will-change: transform;
      -webkit-box-reflect: below 0.5em linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
    }
  }
  & .slick-track{
    height: 450px;
  }
  & .slick-slide{
    margin: 100px 0px 50px;
  }
  & .slick-center{
    & img{
      z-index: 10;
      transition: transform 0.5s, scale .5s;
      scale: 1.4;
      transform: translateX(0%) rotateY(0deg);
    }
  }
}
